* {
    font-family: Inter;
}

body {
    margin: 0;
    padding: 0;
    background: #454545;
    display: grid;
    grid-template-columns: 1.5fr 8.5fr;
    grid-template-rows: 1.4fr 7.3fr 1.3fr;

    width: 100vw;
    height: 100vh;
}

button {
    padding: 0;
}

header {
    background: #474747;
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;

    grid-row: 1 / 2;
    grid-column: 1 / 3;
    z-index: 1;
}

.header-text {
    color: #D6D6D6;
    font-family: Itim;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.project-section {
    background: #595959;
    box-shadow: 7px 0px 10px 0px rgba(0, 0, 0, 0.25);

    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding: 27px;
}

.projects-text {
    color: #FFF;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

hr {
    height: 3px;
    border: none;
    background: #D6D6D6;
    margin-bottom: 20px;
}

.project {
    display: flex;
    filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.5));
    background-color: #4B4343;
    height: 40px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-items: center;
    appearance: none;
    border: none;
    width: 100%;
    cursor: pointer;
    transition-duration: 0.05s;
}

.project:active {
    transform: translateY(2px) scale(0.98);
}

.project-name {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-self: left;
}

.indicator {
    width: 25px;
    height: 25px;
    justify-self: center;
}

.todos {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 60px;
    padding-top: 24px;
    padding-left: 40px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.todos::-webkit-scrollbar {
    display: none;
}

.todo {
    width: 250px;
    height: 320px;
    border-radius: 15px;
    background: #D6D6D6;
    box-shadow: 5px 5px 25px 3px rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 0.5s;
    margin-bottom: 30px;
}

.todo:hover, .new-todo:hover {
    transform: translateX(5px);
    box-shadow: 5px 5px 10px 3px rgba(255, 255, 255, 0.25);
}

.new-todo {
    box-sizing: border-box;
    width: 250px;
    height: 320px;
    border-radius: 15px;
    border: 10px solid #D6D6D6;
    background: rgba(217, 217, 217, 0.10);
    box-shadow: 5px 5px 25px 3px rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    transition-property: box-shadow, transform;
    cursor: pointer;
}

.new-todo:active {
    background-color: #606060;
}

.todo-actions > button:active, #add-project:active, .project-button:active {
    transform: translateY(2px) scale(0.98);
}

#add-project {
    background: none;
    appearance: none;
    border: none;
    transition-duration: 0.2s;
}

.todo-title {
    color: #1A1818;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.todo-description {
    color: #1A1818;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.todo-dueDate {
    color: #1A1818;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 2.5px solid #1A1818;
    border-radius: 10px;
    width: 163px;
}

.todo-actions > button {
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: transform;
}

.todo-delete, .todo-done {
    appearance: none;
    border: none;
    background: none;
    margin-top: 4px;
}

.todo-priority {
    width: 130px;
    height: 41px;
    color: #C6B62C;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 10px;
    border: 3px solid #1A1818;
    background: #1A1818;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.todo-title {
    margin-top: 40px;
}

.todo-date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.todo-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 8px;
}

.todo-add {
    background: none;
    border: none;
    appearance: none;
}

footer {
    background: #474747;
    box-shadow: 0px -7px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11.62px;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    z-index: 1;
}

.footer-text {
    color: #D6D6D6;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#author {
    color: #D6D6D6;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#github-icon {
    width: 63px;
    height: 62px;
    transition-duration: 0.8s;
    transition-property: all ease-in-out;
}

#github-icon:hover {
    transform: rotate(-360deg);
}

.project-modal, .todo-modal {
    border: 3px solid rgb(235, 235, 235);
    border-radius: 10px;
    background-color: #666464;
    box-shadow: 5px 5px 20px 0px rgba(255, 255, 255, 0.25);
}

.modal-container {
    margin: 7px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #D6D6D6;
    gap: 20px;
}

.project-button {
    width: 150px;
    height: 50px;
    appearance: none;
    border: none;
    border-bottom: 3px solid #4a4343;;
    font-size: 1.8rem;
    cursor: pointer;
    color: #FFF;
    transition-duration: 0.01s;
    background-color: transparent;
}

.project-button:hover {
    background-color: #565252;
}

.project-modal > h1 {
    margin-bottom: 0;
}

.project-modal > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.6rem;
}

h2 > input {
    appearance: none;
    border: none;
    width: 130px;
    height: 30px;
    padding-left: 8px;
    background-color: #6a6868;
    border-bottom: 3px solid #1A1818;
    color: white;
    font-size: 1.3rem;
}

h2 > input::placeholder {
    color:#928888;
}

h2 > input:focus {
    outline: none;
}

.project-buttons {
    display: flex;
    gap: 30px;
}

.indicatorDiv {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}